*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    color: crimson;
}

@media screen and (min-width: 601px) {
    div.inputs {
      font-size: 25px;
    }
  }

  @media screen and (max-width: 600px) {
    div.inputs {
      font-size: 15px;
    }
  }
@media screen and (min-width: 601px) {
    p.text {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 600px) {
    p.text {
      font-size: 15px;
    }
  }